body {
    background-color: #000;     
    background-image:url('assets/screen4.png');
    background-repeat:no-repeat;     
    background-position: center top;  
}
            
#game {
    margin: 0px auto;
    margin-top: 80px; 
    background-color: #FF0;
    height: 600px;
    width: 800px;
    position: relative;
}

#splash {
    margin: 0px auto;
    margin-top: 80px; 
    background-color: #0F0;
    height: 600px;
    width: 800px;
    position: relative;
}
