body {
    background-color: #000;     
    background-image:url('assets/Screen4.png');
    background-repeat: no-repeat;     
    background-position: center top;  
}

#loading {
    height: 100%;
    width: 100%;
    opacity: 0.9;
    background-color: #444;
    color: #fff;
    z-index: 20;
}

#loadingText {
    color: #fff;
    font-size: 40px;
    margin: 0px auto;
    opacity: 1;
}

#game {
    margin: 0px auto;
    margin-top: 80px; 
    background-color: #222;
    height: 600px;
    width: 800px;
    position: relative;
}

#game canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#splash {
    margin: 0px auto;
    margin-top: 80px;
    background-image: url('assets/splash.png');
    height: 600px;
    width: 800px;
    position: relative;
}

#buttonGroup {
    position: absolute;
    margin-top: 150px;
}

.button {
    background-image: url('assets/clapper.jpg');
    background-repeat: no-repeat;     
    background-position: center top;  
    height: 350px;
    width: 300px;
    cursor: pointer;
    margin-left: 40px;
}

.button:hover {
    border: 2px solid #FF0;
}

.buttonText {
    font-size: 30px;
    padding: 40px;
    text-align: center;
}

#play-button {
    float: right;
    margin-left: 80px;
}

#intro-button {
    float: left;
}
